
.contenedor{
    display: grid;
    grid-template-columns: minmax(300px,1fr) 1fr;
    grid-gap: 20px ;
    grid-template-rows: minmax(150px,auto)  400px; /*auto ajusta al ocntenido*/
    
}

.contenedor2{
    display: grid;
    grid-template-columns: repeat(4,auto);
}
/* tablas float y flex box */